<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Recognition</title>
    <link rel="stylesheet" href="static/css/material.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Image Recognition</span>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="page-content">
            {% if result %}
            <div id="output" class="card" style="border: 0; background: white">
                <div id="outputBox">
                    <h4>Whoop! Whoop! We have analysed your image! That's great!</h4><br>
                    <img src="{{ image }}" style="max-width: 100%"><br><br>
                    Matched: {{ result }}<br>
                    File: {{ image }}<br>
                    Input Files: {{ input }}<br><br>
                    <div class="download">
                        <a class="downloadButton" href="{{ image }}" download>Download Image<i class="material-icons" style="font-size: 30px;">file_download</i>
                        </a>
                    </div>
                    <div class="download" style="padding-top: 12px;">
                        <a class="downloadButton" href="http://twitter.com/share?text=Image%20Recognition">
                            Share on Twitter
                        </a>
                    </div>
                    <div class="download" style="padding-top: 12px;">
                        <a class="downloadButton" href="http://www.facebook.com/sharer/sharer.php">
                            Share on Facebook
                        </a>
                    </div>
                    <div class="download" style="padding-top: 12px;">
                        <a class="downloadButton" href="/">
                            Upload New Image
                        </a>
                    </div>
                </div>
            </div>
            {% else %}
            <div id="dragandrophandler" class="card" style="margin-top: 2%; background: #3F51B5">
                <div align="center" id="inputBox">
                    <div id="selected">
                        <img id="selectedImage" style="max-width: 100%"><br>
                        <div>
                            <button id="remove">Remove</button>
                            <button id="submit">Submit</button>
                        </div>
                    </div>
                    <form id="uploadForm" action="" enctype="multipart/form-data" method="post">
                        <input name="file" type="file" id="file" style="display: none"/>
                        <i class="material-icons" style="font-size: 100px;">image</i>
                        <h4>Drop image here</h4>
                        <u><h5 id="uploadImage">Choose File</h5></u>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </main>
</div>
<script src="static/js/material.min.js"></script>
<script src="static/js/jquery.min.js"></script>
<script src="static/js/script.js"></script>
</body>
</html>